* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 15px;
  background: #f0f0f0;
}

.header {
  padding: 15px;
  font-size: 20px;
  text-align: center;
}

.leftcolumn {
  float: left;
  width: 70%;
}

.rightcolumn {
  float: left;
  width: 29%;
  padding-left: 25px;
}

@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.card {
  background-color: white;
  padding: 25px;
  margin-top: 25px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 10px;
  text-align: center;
  background: #ccc;
  margin-top: 25px;
}

.title {
  color: #303030;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.25;
}

.subtitle {
  color: #303030;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.25;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.blog-image {
  width: 100%;
  height: auto;
}

ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(61, 61, 61);
}

ul.horizontal li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


ul.horizontal li {
  float: left;
}

li:hover {
  background-color: #8d8d8d;
}

#checkbox {
  width: auto;
}

input,
textarea {
  border: none;
  border-radius: 0;
  background-color: #f1f1f1;
  padding: 10px;
  margin: 10px;
  width: 50%;
}

label {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: bold;
}

.submitButton {
  background-color: #4d4d4d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.image {
  width: 100%;
  height: auto;
}

p {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 400;
  text-align: justify;
}

#map{
  height: 40vh;
  width: 100%;
}